<section class="container mt-4">
    <div class="flex col-span-2 max-w-[85rem] w-full mx-auto px-4 flex-wrap basis-full items-center justify-between">
        <div>
            <h2>Hello there</h2>
        </div>
        <div >
            <img src="/public/images/Illustration.svg" alt="">
        </div>
    </div>
</section>